.hlayout {
    position: relative;
    .santd-layout-header {
        width: 100%;
        background-color: #fff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
        border-bottom: 1px solid #e8e8e8;
        .header {
            display: flex;
            max-width: 1200px;
            margin: 0 auto;
            justify-content: space-between;
        }
        .title {
            margin-right: 40px;
            padding: 0 16px;
            color: rgba(0, 0, 0, .55);
            font-size: 18px;
            cursor: pointer;
            .logo {
                height: 32px;
                display: inline-block;
                margin-right: 6px;
            }
        }
        .santd-menu-horizontal {
            width: 600px;
            flex-grow: 1;
            height: 62px;
            line-height: 62px;
            border-bottom: 0;
        }
        .head-right {
            text-align: right;
            padding-right: 16px;
            a {
                color: rgba(0, 0, 0, .65);
            }
        }
    }
    .santd-layout-content  {
        background: #fff;
    }
    .main {
        max-width: 1200px;
        margin: 30px auto 0;
        padding: 16px 16px 0;
    }
}