.layout {
    position: relative;
    background-color: #fff;
    .header {
        position: relative;
        z-index: 10;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 2px 8px #f0f1f2;
        padding: 0 10px;
        display: flex;
        align-items: center;
        .project-name {
            display: inline-block;
            overflow: hidden;
            margin: 16px 0;
            height: 32px;
            line-height: 1;
            .santd-btn {
                width: 160px;
            }
        }
        .home-link {
            margin-right: 10px;
            color: #222;
            &:hover {
                color: #1890ff;
            }
        }
        .line {
            width: 1px;
            height: 32px;
            margin-left: 16px;
            background-color: #ebedf0;
            display: inline-block;
        }
        .title {
            margin-left: 20px;
            margin-bottom: 0;
        }
    }
    .main-wrap {
        .menu {
            height: 100%;
            .santd-menu-item > a {
                text-decoration: none;
            }
        }
        .main {
            background: #fff;
        }
    }
    .head-right {
        position: absolute;
        right: 20px;
        top: 0;
    }

    h1 {
        font-size: 20px;
        color: #333;
    }

    h2 {
        font-size: 18px;
        color: #333;
    }
}
