@import '../../assets/darkmode.less';
html,
body,
.h1oh {
    height: 100%;
    overflow: hidden;
}
.flex-none {
    flex: 0 0 auto;
}
.flex-all {
    flex: 1 1 100%;
}
.loading {
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .9);
    height: 100%;
    z-index: 1000;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.widget-loading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.com-santd-btn-large {
    width: 272px;
    height: 60px;
    border-radius: 30px;
    font-size: 24px;
}

.com-santd-btn-medium {
    width: 130px;
    height: 36px;
    border-radius: 24px;
    font-size: 16px;
}

.com-sub-title {
    font-size: 20px;
    .color-3();
    font-weight: 500;
}

/* 格式化 s-input 组件样式 */
.com-santd-input-normal input {
    border-radius: 21px;
    height: 42px;
    padding-left: 16px;
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #b4c7d0;
    border: 3px solid transparent;
    background-clip: padding-box;
    border-radius: 5px;
}
::-webkit-scrollbar-track-piece {
    background: 0 0;
}

.santd-btn-primary {
    .background-color-7();
    border: none;
}

.santd-btn-primary[disabled], .santd-btn-primary[disabled]:hover {
    color: #fff;
    .background-color-7();
    opacity: .3;
}

.empty-tip {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .background-image-5();
    background-repeat: no-repeat;
    width: 272px;
    padding-top: 292px;
    text-align: center;
    font-size: 20px;
    color: #989898;
}
