.run-task {
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .info {
        padding: 8px 0;
    }
    .actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        & > :not(:last-child) {
            margin-right: 8px;
        }
    }
}