.x-dependency-item {
    background-color: #e6f7ff;
    border-radius: 8px;
    margin-top: 20px;
    padding: 0 20px;
    height: 80px;
    color: #6a8bad;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .pkg-icon {
        background: #eee;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        overflow: hidden;
        img {
            border-radius: 50% 50%;
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    .pkg-info {
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;
        height: 40px;
        .pkg-name {
            color: #222;
        }
    }

    .pkg-detail {
        .pkg-version {
            min-width: 138px;
            display: inline-block;
        }
    }

    .pkg-detail-link {
        color: #1890ff;
    }
    
    .pkg-check-ico {
        margin-right: 5px;
    }
}
