.head-right {
    .santd-btn {
        width: 100px;
        margin-left: 10px;
    }
}
.dashboard-content {
    display: flex;
    flex-direction: row;
    padding: 8px;
    box-sizing: border-box;
    .widgets {
        flex: auto 1 1;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        overflow-y: auto;
        position: relative;
        .dashboard-widget {
            flex: auto 1 1;
            .shell,
            .wrap {
                height: 100%;
                width: 100%;
            }
            .shell {
                position: absolute;
                padding: 8px;
                box-sizing: border-box;
            }
            .wrap {
                display: flex;
                flex-direction: column;
                position: relative;
                background-color: #e6f7ff;
                border-radius: 6px;
                box-shadow: 0 4px 15px rgba(0, 0, 0, .05);
            }
            .head-bar {
                padding: 12px 12px 6px 16px;
                display: flex;
                flex-direction: row;
            }
            .head-title {
                flex: 1;
                opacity: .5;
                color: #4f6f7f;
            }
        }
    }

    .widget-list {
        background-color: #e6f7ff;
        height: 100%;
        width: 360px;
        flex: auto 0 0;
        transform: translateX(100%);
        &.actived {
            transform: translateX(0);
        }
        &.show {
            transform: translateX(0);
            transition: transform .5s ease .5s;
        }
        &.hide {
            transform: translateX(100%);
            transition: transform .5s ease .5s;
        }
    }
}
