.folder-explorer {
    .content {
        margin: 0 auto;
        width: 800px;
        min-height: 800px;
    }
    .actions-bar {
        position: fixed;
        bottom: 0;
        width: 100%;
        .santd-btn {
            margin: 10px auto;
        }
    }
}