@import '~san-cli-ui/client/assets/darkmode.less';
.task-dashboard {
    padding-top: 20px;
    .header {
        .background-color-1();
        border-radius: 18px;
        box-shadow: 0 2px 10px 3px rgba(228, 228, 228, .3);
        height: 68px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 24px;
        .header-title {
            font-size: 20px;
            .color-4();
        }
        .header-btn {
            height: 36px;
            border-radius: 18px;
            font-size: 18px;
            font-weight: 500;
        }
        .open-app-btn {
            padding: 0 15px !important;
            margin-right: 10px;
        }
        .size-type-btn {
            width: 101px;
        }
    }
    .row {
        margin: 16px 0;
    }
    .card {
        border-radius: 18px;
        text-align: center;
        box-shadow: 0 2px 10px 3px rgba(228, 228, 228, .3);
        .background-color-1();
        .santd-card-head {
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            .color-4();
            .border-color-3();
        }
    }
    .empty {
        text-align: center;
        width: 100%;
    }
}

.task-dashboard-dropdown {
    .santd-menu {
        box-shadow: 0 2px 20px rgba(0, 0, 0 , .1);
        border-radius: 5px;
        width: 101px;
    }
}
