.speed-stats {
    .item {
        display: flex;
        justify-content: space-between;
        span {
            padding: 0 20px;
        }
        .label {
            color: #9bb2c8;
        }
    }
}
