.task-dashboard {
    padding-top: 20px;
    .size-type {
        position: absolute;
        right: 0;
        top: -5px;
        .size-type-btn {
            width: 80px;
        }
    }
    .row {
        margin: 16px 0;
    }
    .card {
        border: 1px solid #ccc;
        border-radius: 8px;
        text-align: center;
    }
    .empty {
        text-align: center;
        width: 100%;
    }
}
