@import '../../assets/darkmode.less';
.folder-explorer {
    height: 0;
    overflow: hidden;
    flex-direction: column;
    .folder-path {
        width: 100%;
        display: flex;
        align-items: center;
        height: 64px;
        .santd-btn {
            border-radius: 9px;
        }
        .operate-btn {
            margin-left: 14px;
            cursor: pointer;
            &:hover {
                opacity: .65;
            }
            .edit-icon {
                .background-image-3();
            }
            .star-icon {
                .background-image-1();
                &.favorited {
                    background-image: url(../../assets/yellow-star-icon.svg);
                }
            }
            .redo-icon {
                .background-image-8();
            }
            .caret-down-icon {
                .background-image-9();
            }
            .more-icon {
                .background-image-11();
            }
        }
        .santd-dropdown-trigger {
            display: block;
        }
        .path-guide {
            flex-grow: 1;
            margin: 16px;
            display: inline-block;
            width: 850px;
            white-space: nowrap;
            .santd-btn {
                opacity: .5;
                &:last-child {
                    opacity: 1;
                }
            }
        }
    }
    .folders {
        height: calc(100% - 64px);
        overflow-y: auto;
        overflow-x: hidden;
        padding: 15px 0;
        .container {
            .background-color-1();
            box-shadow: 0 2px 10px 3px rgba(228, 228, 228, .3);
            border-radius: 18px;
            padding: 10px 32px;
            .folder-item {
                height: 75px;
                padding: 10px;
                display: flex;
                align-items: center;
                user-select: none;
                cursor: pointer;
                position: relative;
                border-bottom: 1px solid;
                .border-color-4();
                &:last-child {
                    border-bottom: none;
                }
                &:hover {
                    .background-color-5();
                }
                &.hidden {
                    opacity: .5;
                }
                .folder-name {
                    margin-left: 16px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    .color-4();
                }
                .yellow-star-icon {
                    background-image: url(../../assets/yellow-star-icon.svg);
                }
            }
            .empty-tip {
                position: static;
                transform: none;
                margin: auto;
                margin-bottom: 40px;
            }
        }
    }
    .san-project-icon {
        width: 31.2px;
        height: 27.2px;
        vertical-align: top;
        position: relative;
        top: 1px;
    }
    .folder-icon {
        width: 31.2px;
        height: 27.2px;
        background-image: url(../../assets/folder-icon.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    .icon {
        width: 27px;
        height: 27px;
    }
}
.contents-menu {
    box-shadow: 0 2px 20px rgba(0, 0, 0 , .1) !important;
    border-radius: 5px;
    .santd-menu-item:hover {
        color: #fff;
        background-color: rgba(24, 144, 255, .6);
    }
}
