@import '../../assets/darkmode.less';
.x-dependency-item {
    .background-color-1();
    border-radius: 18px;
    padding-left: 32px;
    padding-right: 30px;
    height: 105px;
    color: #6a8bad;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    box-shadow: 0 2px 10px 3px rgba(228, 228, 228, .3);

    .pkg-icon {
        width: 57px;
        height: 57px;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../../assets/paw.png);
    }

    .pkg-info {
        width: 100%;
        box-sizing: border-box;
        padding-left: 8px;
        a {
            font-size: 20px;
        }
        .pkg-version {
            font-size: 15px;
            width: 124px;
            display: inline-block;
            color: #8c8c8c;
        }
    }

    .update-icon, .delete-icon {
        cursor: pointer;
        width: 20px;
        height: 20px;
        &:hover {
            opacity: .8;
        }
    }
    .update-icon {
        background-image: url(../../assets/update-icon.svg);
    }
    .delete-icon {
        .background-image-7();
    }

    .download-icon {
        font-size: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
            .color-6();
        }
    }

    // 画个梯形
    .uninstalled-label {
        position: absolute;
        left: -36px;
        top: -36px;
        width: 72px;
        height: 72px;
        border-width: 18px;
        border-style: solid;
        border-color: transparent transparent #dd0929 transparent;
        transform: rotate(-45deg);
        .uninstalled-label-text {
            font-size: 12px;
            color: #fff;
            position: absolute;
            bottom: -18px;
        }
    }

    .delete-tooltip {
        margin-left: 42px;
    }
}
