.task-content {
    padding: 20px 20px 0 30px;
    display: flex;
    flex-direction: column;
    .task-name {
        font-size: 36px;
        font-weight: 500;
        color: #333;
        line-height: 36px;
    }

    .task-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 18px;
    }

    .task-command {
        background-color: rgba(204, 210, 217, .1);
        color: rgba(102, 102, 102, .3);
        border-radius: 15px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        padding: 0 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-right: 10px;
    }

    .task-config {
        display: flex;
        align-items: center;
        .santd-btn-primary {
            margin-right: 24px;
            border-radius: 18px;
            width: 76px;
            height: 36px;
            font-size: 18px;
            font-weight: 500;
        }
        .setting {
            font-size: 24px;
            cursor: pointer;
            &:hover {
                color: #40a9ff;
            }
        }
    }

    .task-output-head {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 16px;
        .santd-icon {
            margin: 0 10px;
        }
        .task-xterm-btn {
            &:hover {
                color: #1890ff;
            }
        }
        .task-output-head-output {
            width: 100%;
            font-size: 20px;
            padding-bottom: 15px;
            font-weight: 500;
            color: #446ffd;
            .santd-icon {
                margin: 0 5px 0 0;
                color: #333;
            }
        }
    }
    .task-output-content-wrap {
        height: 100%;
        padding: 18px 36px;
        border-radius: 18px;
        background-color: #fff;
    }
}

.task-main-views {
    display: flex;
    flex-direction: column;
    height: 100%;
    .task-bar {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    .task-view-tabs {
        display: flex;
        border-radius: 15px;
        height: 30px;
        line-height: 30px;
        background-color: rgba(204, 210, 217, 0.1);
        .task-view-tab {
            width: 95px;
            text-align: center;
            cursor: pointer;
            font-size: 15px;
            color: #666;
            &.active {
                background-color:#236eff;
                color: #fff;
            }
            &:first-child {
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
            }
            &:last-child {
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
            }
        }
        .task-view-tab-label {
            margin-left: 5px;
        }
    }
    .task-view-contents {
        height: 100%;
        position: relative;
        .task-view-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            &.hidden {
                opacity: 0;
                pointer-events: none;
            }
        }
    }
}

.task-empty-tip {
    display: flex;
    height: 120px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .santd-icon {
        display: block;
        margin: 0 auto;
        color: #999;
        svg {
            width: 30px;
            height: 30px;
        }
    }
    .tip-text {
        text-align: center;
        margin-top: 30px;
        color: #999;
    }
}
