# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  check:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x]

    steps:
    - uses: actions/checkout@v2
      with:
        # 如果不加以下这行，发起 pr 后触发的 ci 拿到的 commit message 是“Merge ... into ...”而不是提交代码时输入的 commit message。
        ref: ${{ github.event.pull_request.head.sha }}
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: yarn
    - name: commitlint
      run: echo $(git log --format=%B -n 1) | npx commitlint --verbose
    - run: yarn lint
    - run: yarn test
