# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ engineering-capability ]
  pull_request:
    branches: [ engineering-capability ]

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: echo "${{ toJson(github) }}"
#     - run: yarn
#     - run: yarn test
    - name: commitlint push
      if: ${{ github.event_name == 'push'}}
      run: |
        # for((i=0;i<$(echo $COMMITS | jq '. | length');i++)) do
          # echo ${{ github.event.commits[0].message }} | npx commitlint
        # done
        echo $MESSAGES
        for message in $(echo $MESSAGES | jq '.[]')
        do
            echo ${message}
            echo 1
        done
      env:
        MESSAGES: ${{ toJson(github.event.commits.*.message) }}
    - name: commitlint pr
      if: ${{ github.event_name == 'pull_request'}}
      run: |
        for((i=0;i<$COMMIT_AMOUNT;i++)) do
          echo i
        done
      env:
        COMMIT_AMOUNT: ${{ github.event.pull_request.commits }}
