@import './markdown.less';
#single #content {
    padding-left: 0;
    margin: 40px;
}

#content {
    padding-left: 300px;
    margin-top: 100px;

    display: flex;
    flex-direction: row;
    .markdown {
        flex: auto;
        color: @site-text-color;
        font-size: @font-size-base;
        line-height: 1.75;
        max-width: 800px;
        margin: 0 auto;
        padding: 0 20px 20px;
    }
    .toc {
        @width: 320px;
        flex: 0 0 @width;
        max-width: @width;
        min-width: @width;
        width: @width;
        & > ul {
            position: fixed;
            padding-left: 10px;
            border-left: 1px solid #eaecef;
        }
        a {
            color: @site-text-color;
            &:hover {
                color: @primary-color;
            }
        }
        ul,
        li {
            list-style-type: none;
        }
        li {
            margin: 8px;
        }
        li ul {
            padding-left: 8px;
        }
    }
}
