aside#sidebar {
    background-color: #fff;
    width: 300px;
    position: fixed;
    z-index: 10;
    margin: 0;
    top: 73px;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    border-right: 1px solid #eaecef;
    overflow-y: auto;
    padding-top: 20px;

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    @li_right: 40px;
    li {
        line-height: 38px;
        padding: 0 0 0 @li_right;
        font-weight: 600;
        text-overflow: ellipsis;
        a {
            color: #314659;

            &:hover {
                color: @primary-color;
            }
        }

        &.active {
            background-color: #e6f7ff;
            color: @primary-color;
            border-right: 3px solid @primary-color;
            a {
                color: @primary-color;
            }
        }
    }
    li ul {
        margin-left: -@li_right;
        @li_right_secondary: @li_right+20px;
        & > li {
            padding-left: @li_right_secondary;
            font-weight: normal;

            ul {
                margin-left: -@li_right_secondary;

                & > li {
                    padding-left: @li_right_secondary+20px;
                }
            }
        }
    }
}
